body, header {
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  background-color: #efe1efd2;
  display: flex;
}

header {
  display: block;
  border: white;
  margin: 25px;
  align-items: center;
}

.site-brand {
  margin-left: 100px;
  margin-top: 100px;
}

.link {
  padding-left: 25px;
}

.content {
  border: white;
  margin: 200px 100px 20px;
}
